body {
  background-color: rgb(255, 220, 160);
}
.Header {
  display: flex;
  justify-content: space-around;
  /* flex-flow: row-reverse; */
  padding: 30px;
  background-color: rgb(255, 200, 100);
}
.Transactions {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: rgb(255, 220, 160);
  margin-bottom: 50px;
}