* {
  
}
body {
  background-color: rgb(61, 60, 59);
}
.Header {
  display: flex;
  justify-content: space-around;
  /* flex-flow: row-reverse; */
  padding: 30px;
  background-color: rgba(45, 45, 45, 0.4);
}
.Transactions {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: rgb(61, 60, 59);
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .Header {
    flex-direction: column-reverse;
    width: 100%;
  }
  .Transactions {
    flex-direction: column-reverse;
  }
}