body {
  margin: 0;
  font-family: 'Exo 2';
   /* -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: 'Exo 2';
   /* antialiased; */
  -moz-osx-font-smoothing: grayscale;
  background-color: orange;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
